<div class="voice-container">
  <div class="voice-back">
    <button routerLink="/" class="back-button">
      {{ "RETURN_HOME" | translate }}
    </button>
  </div>
  <div class="voice-header">
    <h1>{{ "VOICE_ASSISTANT" | translate }}</h1>
    <p class="voice-subtitle">{{ "VOICE_SUBTITLE" | translate }}</p>
  </div>

  <div class="voice-body">
    <div
      class="mic-button"
      [class.listening]="listening"
      [class.processing]="isProcessing"
      (click)="startListening()"
    >
      {{ "MIC_ICON" | translate }}
    </div>
    <p class="hint" *ngIf="!listening && !isProcessing">
      {{ "MIC_HINT" | translate }}
    </p>
    <p class="listening-text" *ngIf="listening">
      {{ "LISTENING" | translate }}
    </p>

    <p class="processing-text" *ngIf="isProcessing">
      {{ "PROCESSING" | translate }}
    </p>
  </div>

  <div class="voice-response" *ngIf="transcript || response">
    <p class="response-text" *ngIf="transcript">
      {{ "YOU_SAID" | translate }}: "{{ transcript }}"
    </p>

    <p class="response-text" *ngIf="response">
      {{ response }}
    </p>
  </div>

  <div class="reminders" *ngIf="reminderService.getReminders().length > 0">
    <h3>{{ "REMINDERS" | translate }}</h3>

    <div class="reminder-item" *ngFor="let r of reminderService.getReminders()">
      <div class="reminder-time">{{ r.time }}</div>
      <div class="reminder-text">{{ r.text }}</div>
    </div>
  </div>
</div>
