<div class="emergency-container">
  <div class="voice-back">
    <button routerLink="/" class="back-button">
      {{ "RETURN_HOME" | translate }}
    </button>
  </div>
  <h1>{{ "EMERGENCY_TITLE" | translate }}</h1>

  <p class="emergency-description">{{ "EMERGENCY_DESC" | translate }}</p>

  <p class="emergency-hint">{{ "EMERGENCY_HINT" | translate }}</p>

  <button class="emergency-button" (click)="confirmCall('1234567890')">
    {{ "CALL_FOR_HELP" | translate }}
  </button>

  <div class="emergency-contacts">
    <h3>{{ "OTHER_CONTACTS" | translate }}</h3>

    <a class="contact-link" (click)="confirmCall('1234567890')">
      {{ "DAUGHTER" | translate }}
      <span class="contact-sub">{{ "TAP_TO_CALL" | translate }}</span>
    </a>

    <a class="contact-link" (click)="confirmCall('1234567890')">
      {{ "DOCTOR" | translate }}
      <span class="contact-sub">{{ "TAP_TO_CALL" | translate }}</span>
    </a>

    <a class="contact-link" (click)="confirmCall('1234567890')">
      {{ "NEIGHBOR" | translate }}
      <span class="contact-sub">{{ "TAP_TO_CALL" | translate }}</span>
    </a>
  </div>
</div>
