<div class="emergency-container">
  <div class="voice-back">
    <button routerLink="/" class="back-button">
      {{ "RETURN_HOME" | translate }}
    </button>
  </div>
  <h1>{{ "EMERGENCY_TITLE" | translate }}</h1>

  <p class="emergency-description">{{ "EMERGENCY_DESC" | translate }}</p>

  <button
    class="emergency-button"
    *ngIf="contactoPrincipal"
    (click)="confirmCall(contactoPrincipal.telefono)"
  >
    {{ "CALL_FOR_HELP" | translate }}
  </button>

  <div class="emergency-contacts">
    <h3>{{ "OTHER_CONTACTS" | translate }}</h3>

    <a
      class="contact-link"
      *ngFor="let contacto of otrosContactos"
      (click)="confirmCall(contacto.telefono)"
    >
      <div class="contact-info">
        <span class="contact-name">{{ contacto.nombre }}</span>
        <span class="contact-sub">{{ "TAP_TO_CALL" | translate }}</span>
      </div>

      <div class="contact-icon">📞</div>
    </a>
  </div>
</div>
