<div class="travel-container">
  <div class="voice-back">
    <button routerLink="/" class="back-button">
      {{ "RETURN_HOME" | translate }}
    </button>
  </div>
  <h1>{{ "BOOK_TRAVEL" | translate }}</h1>

  <p class="travel-description">{{ "BOOK_TRAVEL_DESC" | translate }}</p>

  <div class="transport-options">
    <a href="https://m.uber.com" target="_blank" class="transport-button uber">
      🚗 {{ "REQUEST_UBER" | translate }}
      <span class="button-sub">{{ "REQUEST_UBER_SUB" | translate }}</span>
    </a>

    <a
      href="https://maps.google.com/?q=taxi"
      target="_blank"
      class="transport-button taxi"
    >
      🚕 {{ "FIND_TAXI" | translate }}
      <span class="button-sub">{{ "FIND_TAXI_SUB" | translate }}</span>
    </a>

    <button class="transport-button family" (click)="callFamily('1234567890')">
      👨‍👩‍👧 {{ "CALL_FAMILY" | translate }}
      <span class="button-sub">{{ "CALL_FAMILY_SUB" | translate }}</span>
    </button>
  </div>
</div>
